<h2>You're almost done! Now create a password to securely access your account.</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirm_path) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :password, input_html: { autofocus: true } %>
  <%= f.input :password_confirmation %>
  <%= f.input :confirmation_token, as: :hidden %>
  <%= f.button :submit, 'Confirm Account' %>
<% end %>
