<% if !@banner_links.empty? %>
  <div class="row section jumbotron">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @banner_links.each_with_index do |_banner_link, index| %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @banner_links.each_with_index do |banner_link, index| %>
            <div class="item <%= index == 0 ? 'active' : '' %>">
              <%= link_to banner_link.link, target: '_blank' do %>
                <%= image_tag banner_link.image.url(:banner), style: 'width: 100%; max-height: 300px' %>
              <% end %>
            </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <i class="fa fa-chevron-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <i class="fa fa-chevron-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
<% end %>

<div class="row section jumbotron">
  <div class="col-md-12 slogan">
    <p class="text-center">
      <i class="fa fa-quote-left"></i>
      ยึดมั่นในความซื่อสัตย์ สะดวก รวดเร็ว เน้นการบริการเป็นเลิศ
      <i class="fa fa-quote-right"></i>
    </p>
  </div>
</div>

<div class="row section jumbotron">
  <div class="col-md-12 text-center">
    <h2 class="services"><%= t('main_page.services') %></h2>
  </div>
  <% @service_categories.each do |service_category| %>
    <div class="col-sm-4 text-center" style="margin: 10px auto;">
      <%= link_to service_category_path(service_category), class: 'thumbnail service-category', style: 'width: 80%; margin: 0 auto;' do %>
          <%= image_tag service_category.homepage_image.url(:medium) %>
          <h4><%= service_category.name %></h4>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row section jumbotron">
  <div class="col-md-12 text-center">
    <h2 class="promotions"><%= t('main_page.promotions') %></h2>
  </div>

  <div class="col-md-12 text-center">
    <div class="promotions-carousel owl-carousel owl-theme">
      <% @promotions.each do |promotion| %>
        <%= link_to promotion.link do %>
          <%= image_tag promotion.image.url %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row section credibility jumbotron">
  <div class="col-md-12 text-center">
    <h2 class="why"><%= t('main_page.why') %></h2>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <%= image_tag 'why_trustworthy.png', class: 'credibility-image img-circle' %>
    <p><%= t('main_page.credibility.trustworthy') %></p>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <%= image_tag 'why_fast.png', class: 'credibility-image img-circle' %>
    <p><%= t('main_page.credibility.fast') %></p>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <%= image_tag 'why_many_options.png', class: 'credibility-image img-circle' %>
    <p><%= t('main_page.credibility.many_options') %></p>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <%= image_tag 'why_cheap.png', class: 'credibility-image img-circle' %>
    <p><%= t('main_page.credibility.cheap') %></p>
  </div>
</div>

<div class="row section jumbotron">
  <div class="col-md-12 text-center">
    <h2 class="why"><%= t('main_page.awards') %></h2>
  </div>
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <%= link_to about_us_path, class: 'thumbnail' do %>
      <%= image_tag 'trophy.png' %>
    <% end %>
  </div>
</div>
