<tr>
  <td class="content" colspan="2">
    <p><%= t('mailer.set_password') %></p>

    <p><%= link_to t('mailer.reset_password'), edit_user_password_url(reset_password_token: @reset_password_token) %></p>
  </td>
</tr>
