<!-- About Us -->

<!-- Banner -->
<div class="row">
  <div class="col-md-12 top-banner">
    <div class="banner" style="background-image: url('<%= asset_url('about_us.png') %>')"></div>
  </div>
</div>

<div class="row section">
  <!-- Title -->
  <div class="col-md-offset-1 col-md-10">
    <h1 class="text-center"><%= t('about_us.title') %></h1>
    <hr>
  </div>
</div>

<div class="row section">
  <!-- Description -->
  <div class="col-md-10 col-md-offset-1">
    <%= simple_format t('about_us.description') %>
  </div>
</div>

<!-- Awards -->
<div class="row section">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <hr>
    <h2><%= t('about_us.awards') %></h2>
  </div>
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <%= image_tag 'trophy.png', class: 'img-thumbnail' %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6 text-center">
        <%= image_tag 'awards-2.jpg', class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 text-center">
        <%= image_tag 'awards-1.jpg', class: 'img-thumbnail' %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/partners' %>
