<div class="container admin-container">
  <h2 class="text-center"><%= t('log_in.title')%></h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true, html: {class: 'email'} %>
      <%= f.input :password, required: false, hint: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('devise.sessions.new.sign_in'), class: 'btn btn-primary submit-button' %>
      <%= render "users/shared/links" %>
    </div>
  <% end %>


</div>
