<div class="pull-right btn-group" id="links">
  <%- if controller_name != 'sessions' %>
    <%= link_to t('devise.shared.links.sign_in'), new_session_path(resource_name), class: 'btn btn-link' %>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to t('devise.shared.links.sign_up'), new_registration_path(resource_name), class: 'btn btn-link' %>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to t('devise.shared.links.forgot_your_password'), new_password_path(resource_name), class: 'btn btn-link' %>
  <% end -%>
</div>
