<!-- Insurance Name -->
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1 class="text-center"><%= @service_category.name %></h1>
    <hr class="mb-30">
    <div class="caption text-center">
      <%= simple_format(@service_category.description) %>
    </div>
  </div>
</div>

<!-- Calculator -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info calculator">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <%= t('calculator.title') %>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div id="form" class="col-md-8 col-md-offset-2">
            <%= simple_form_for :calculate, method: :get, url: results_service_category_path('insurance') do |f| %>
              <%= f.input :service_id, as: :hidden, input_html: { value: params[:service_id] } %>
              <%= f.input :year, label: t('attributes.year'), collection: @years, prompt: t('calculator.placeholders.year') %>
              <%= f.input :vehicle_make, label: t('attributes.vehicle_make'), collection: [], prompt: t('calculator.placeholders.vehicle_make') %>
              <%= f.input :vehicle_model, label: t('attributes.vehicle_model'), collection: [], prompt: t('calculator.placeholders.vehicle_model') %>
              <%= f.input :vehicle_trim, label: t('activerecord.attributes.car.trim'), collection: [], prompt: t('calculator.placeholders.vehicle_trim') %>
              <%= f.input :region, as: :radio_buttons, collection:  [[t('calculator.regions.bangkok'), 'bangkok'] ,[t('calculator.regions.other'), 'other']], checked: 'bangkok', item_label_class: "radio-inline", item_wrapper_tag: false, label: false %>
              <%= content_tag :button, type: 'submit', class: 'btn btn-primary btn-block' do %>
                <%= icon "spinner", class: "fa-spin hidden", id: "loader" %>
                <%= content_tag :span, t('calculator.calculate'), id: "loader-text" %>
                <%= content_tag :span, t('calculator.calculating'), id: "loading-text", class: "hidden" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/partners' %>
