<div class="row">
  <div class="col-md-12">
    <div id="results-panel" class="panel panel-info results">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <%= t('calculator.title') %>
        </div>
      </div>

      <div class="panel-body">
        <div class="panel car-details">
          <table class="table">
            <tr>
              <td><%= @car.year.name %></td>
              <td><%= @car.vehicle_make.name %></td>
              <td><%= @car.vehicle_model.name %></td>
              <td><%= @car.trim %></td>
              <td><%= link_to 'เปลี่ยน', calculator_service_category_path, class: 'btn btn-sm btn-block btn-primary' %></td>
            </tr>
          </table>
        </div>

        <div class="service-buttons btn-group btn-group-justified">
          <template v-for="service in services">
            <a class="btn btn-primary" :class="{ active: hasFilter(service.id) }" v-on:click.prevent="toggleFilter(service.id)">
              {{ service.name }}
            </a>
          </template>
        </div>

        <div class="table-header">
          <table class="table">
            <thead>
              <th class="package-header"></th>
              <th class="company package-header" @click="setSortOrder('company')">
                <%= t('calculator.results.insurance_company') %>
                <i :class="sortOrderClass('company')" />
              </th>
              <th class="insurance-class package-header" @click="setSortOrder('service')">
                <%= t('calculator.results.insurance_class') %>
                <i :class="sortOrderClass('service')" />
              </th>
              <th class="repair-site package-header" @click="setSortOrder('repair')">
                <%= t('calculator.results.repair_site') %>
                <i :class="sortOrderClass('repair')" />
              </th>
              <th class="sum package-header" @click="setSortOrder('sum_insured')">
                <%= t('calculator.results.sum_insured') %>
                <i :class="sortOrderClass('sum_insured')" />
              </th>
              <th class="first-payment package-header" @click="setSortOrder('excess_payment')">
                <%= t('calculator.results.first_payment') %>
                <i :class="sortOrderClass('excess_payment')" />
              </th>
              <th class="price package-header" @click="setSortOrder('final_price')">
                <%= t('calculator.results.price') %>
                <i :class="sortOrderClass('final_price')" />
              </th>
              <th class="package-header">
                <button class="btn btn-primary btn-block" v-if="comparable" @click="openModal()">เปรียบเทียบแพ็คเกจ</button>
              </th>
            </thead>
          </table>
        </div>

        <div class="packages">
          <package v-for="package in computedPackages" :package="package" :features="features" ref="package" v-on:selected="toggleSelected"></package>
        </div>
      </div>

      <modal :visible="modalVisible" :packages="selectedPackages" v-on:close="closeModal()"></modal>
    </div>
  </div>
</div>

<%= render 'service_categories/results/modal' %>
<%= render 'service_categories/results/package' %>
