<div class="row">
  <div class="col-md-12">
    <div id="results-panel" class="panel panel-info results">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <%= t('calculator.title') %>
        </div>
      </div>

      <div class="panel-body">
        <div class="panel car-details">
          <table class="table">
            <tr>
              <td><%= @car.year.name %></td>
              <td><%= @car.vehicle_make.name %></td>
              <td><%= @car.vehicle_model.name %></td>
              <td><%= @car.trim %></td>
            </tr>

            <tr>
              <td colspan="4"><%= link_to 'เปลี่ยน', calculator_service_category_path, class: 'btn btn-sm btn-block btn-primary' %></td>
            </tr>
          </table>
        </div>

        <div class="service-buttons btn-group btn-group-justified">
          <template v-for="service in services">
            <a class="btn btn-primary" :class="{ active: hasFilter(service.id) }" v-on:click.prevent="toggleFilter(service.id)">
              {{ service.short_name }}
            </a>
          </template>
        </div>

        <div class="table-header">
          <table class="table">
            <thead>
              <th class="company package-header mobile" @click="setSortOrder('company')"><%= t('calculator.results.insurance_company').chomp("ประกันภัย") %></th>
              <th class="sum package-header mobile" @click="setSortOrder('sum_insured')"><%= t('calculator.results.sum_insured') %></th>
              <th class="price package-header mobile" @click="setSortOrder('final_price')"><%= t('calculator.results.price') %></th>
            </thead>
          </table>
        </div>

        <div class="packages">
          <package v-for="package in computedPackages" :package="package" :features="features" ref="package" v-on:selected="toggleSelected"></package>
        </div>
      </div>

      <div class="compare-button" v-if="comparable" @click="openModal()">เปรียบเทียบแพ็คเกจ</div>

      <modal :visible="modalVisible" :packages="selectedPackages" v-on:close="closeModal()"></modal>
    </div>
  </div>
</div>

<%= render 'service_categories/results/modal' %>
<%= render 'service_categories/results/package' %>
