<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1 class="text-center"><%= @insurance_service_category.name %></h1>
    <hr class="mb-30">
    <div class="row">
      <% @insurances.each do |service| %>
        <div class="col-xs-6 col-md-4 text-center" style="margin-bottom: 20px">
          <%= link_to calculator_service_category_path(@insurance_service_category, service_id: service.id) do %>
            <%= image_tag service.image.url(:medium), width: 150 %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1 class="text-center"><%= @non_motor_insurance_service_category.name %></h1>
    <hr class="mb-30">
    <div class="row">
      <% @non_motor_insurances.each do |service| %>
        <div class="col-xs-6 col-md-4 text-center" style="margin-bottom: 20px">
          <% if service.link.blank? %>
            <%= image_tag service.image.url(:medium), width: 150 %>
          <% else %>
            <%= link_to service.link, target: '_blank' do %>
              <%= image_tag service.image.url(:medium), width: 150 %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
