<!-- Banner -->
<div class="row">
  <div class="col-md-12 top-banner">
    <div class="banner" style="background-image: url('<%= @service_category.banner_image.url %>')"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <!-- Title -->
    <h1 class="text-center" style="margin-top: 40px;"><%= @service_category.name %></h1>
    <hr class="mb-30">
  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <%= @service_category.description&.html_safe %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <button type="button" class="btn btn-success" onclick="Inquiry.init({hasCloseButton: true})">รายละเอียดเพิ่มเติม!</button>
  </div>
</div>
