<div id="summary" class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="text-center">
      <h1><%= t('summary.title') %></h1>
    </div>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
    <h3 class="text-center on-small"><%= t('summary.selected_car') %></h3>
    <dl class="dl-horizontal centered">
      <dt><%= t('activerecord.attributes.year.name') %></dt>
      <dd><%= @car.year.name %></dd>
      <dt><%= t('activerecord.models.vehicle_make') %></dt>
      <dd><%= @car.vehicle_make.name %></dd>
      <dt><%= t('activerecord.models.vehicle_model') %></dt>
      <dd><%= @car.vehicle_model.name %></dd>
      <dt><%= t('activerecord.attributes.car.trim') %></dt>
      <dd><%= @car.trim %></dd>
    </dl>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
    <h3 class="text-center on-small"><%= t('summary.selected_package') %></h3>
    <dl class="dl-horizontal centered">
      <dt><%= t('calculator.results.insurance_company') %></dt>
      <dd><%= @package.company.name %></dd>
      <dt><%= t('calculator.results.insurance_class') %></dt>
      <dd><%= @package.service.name %></dd>
      <dt><%= t('calculator.results.sum_insured') %></dt>
      <dd><%= @package.sum_insured.display_value %></dd>
      <dt><%= t('calculator.results.first_payment') %></dt>
      <dd><%= @package.excess_payment.display_value %></dd>
      <dt><%= t('calculator.results.actual_price') %></dt>
      <dd><%= @package.actual_price.display_value %></dd>
      <dt><%= t('calculator.results.final_price') %></dt>
      <dd><%= @package.final_price.display_value %></dd>
    </dl>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
    <h3 class=""><%= t('summary.payment_methods.title') %></h3>
    <ul>
      <li>ชำระผ่านธนาคาร: <a href="<%= asset_url('bank_accounts.png') %>" target="_blank">ดูรายละเอียดบัญชีธนาคาร</a></li>
      <% t('summary.payment_methods.list').each do |l| %>
        <li><%= l %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
    <div>
      <h3><%= t('summary.inquiry') %></h3>
      <div id="inquiry-posted" class="alert alert-success text-center hidden">
        <%= t('mailer.complete') %>
      </div>

      <div id="inquiry-post-fail" class="alert alert-danger text-center hidden">
        <%= t('mailer.fail') %>
      </div>
      <form name="summary-inquiry-form">
        <input type="hidden" name="summary-car-id" id="summary-car-id" value="<%= @car.id %>">
        <input type="hidden" name="summary-package-id" id="summary-package-id" value="<%= @package.id %>">
        <input type="hidden" name="summary-region" id="summary-region" value="<%= @region %>">
        <div class="form-group">
          <label for="summary-name"><%= t('summary.name.title') %></label>
          <input type="text" class="form-control" id="summary-name" placeholder="<%= t('summary.name.placeholder') %>">
          <span id="validation-name" class="hidden text-danger validation"><%= t('summary.name.hint') %></span>
        </div>
        <div class="form-group">
          <label for="summary-email"><%= t('summary.email.title') %></label>
          <input type="email" class="form-control" id="summary-email" placeholder="<%= t('summary.email.placeholder') %>">
          <span id="validation-email" class="hidden text-danger validation"><%= t('summary.email.hint') %></span>
        </div>
        <div class="form-group">
          <label for="summary-phone-number"><%= t('summary.phone.title') %></label>
          <input type="number" class="form-control" id="summary-phone-number" pattern="\\d+" placeholder="<%= t('summary.phone.placeholder') %>">
          <span id="validation-phone-number" class="hidden text-danger validation"><%= t('summary.phone.hint') %></span>
        </div>
        <div class="form-group">
          <label for="summary-message"><%= t('summary.message.title') %></label>
          <textarea class="form-control" name="summary-message" id="summary-message" rows="5" placeholder="<%= t('summary.message.placeholder') %>"></textarea>
          <span id="validation-message" class="hidden text-danger validation"><%= t('summary.message.hint') %></span>
        </div>
        <div class="form-group">
          <button id="submit-button" type="button" class="btn btn-success btn-block"><%= t('summary.submit') %></button>
        </div>
      </form>
    </div>
  </div>
</div>
