<div id="inquiry-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="inquiry-modal-close-button" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="modal-title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group hidden">
            <label for="inquiry-email"><%= t('inquiry.email.title') %></label>
            <input type="email" class="form-control" id="inquiry-email" placeholder="<%= t('inquiry.email.placeholder') %>">
            <span id="validation-email" class="hidden text-danger validation"><%= t('inquiry.email.hint') %></span>
          </div>
          <div class="form-group hidden">
            <label for="inquiry-phone-number"><%= t('inquiry.phone.title') %></label>
            <input type="number" class="form-control" id="inquiry-phone-number" pattern="\\d+" placeholder="<%= t('inquiry.phone.placeholder') %>">
            <span id="validation-phone-number" class="hidden text-danger validation"><%= t('inquiry.phone.hint') %></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="submit-button" type="button" class="btn btn-success"><%= t('inquiry.submit') %></button>
      </div>
    </div>
  </div>
</div>
