<!-- Partners -->
<div class="row section">
  <div class="col-md-offset-1 col-md-10">
    <hr class="mb-25">
    <h2 class="text-center"><%= t('partners.title') %></h2>
    <!-- Logos -->
    <div class="text-center logos-container">
      <% Company.find_each do |company| %>
        <div style="display: inline-block;">
          <div class="logo">
          <%= link_to (company.link || "#"), target: '_blank' do %>
            <%= image_tag company.logo.url, "data-toggle": "tooltip", "data-placement": "top", "title": company.name, height: '50', style: "max-width: 50px" %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
