<script type="text/x-template" id="modal">
  <div class="modal fade" role="dialog" ref="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" @click="close()">&times;</button>
          <h4 class="modal-title"><%= t('compare.compare_packages') %></h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th></th>
                <th class="insurance-header" v-for="package in packages">
                  <div class="text-center">
                    <img :src="package.company.logo" />
                  </div>
                  <div class="text-center">
                    {{ package.company.name }}
                  </div>
                </th>
              </tr>
            </thead>

            <tbody class="features">
              <tr>
                <td><%= t('compare.insurance_type') %> <%= compare_tooltip(t('compare.tooltips.insurance_type')) %></td>
                <td v-for="package in packages">{{ package.service.name }}</td>
              </tr>
              <tr>
                <td><%= t('compare.sum_insured') %> <%= compare_tooltip(t('compare.tooltips.insurance_type')) %></td>
                <td v-for="package in packages">{{ package.sum_insured.display_value }}</td>
              </tr>
              <tr>
                <td><%= t('compare.excess_payment') %> <%= compare_tooltip(t('compare.tooltips.excess_payment')) %></td>
                <td v-for="package in packages">{{ package.excess_payment.display_value }}</td>
              </tr>
              <tr>
                <td><%= t('compare.actual_price') %> <%= compare_tooltip(t('compare.tooltips.actual_price')) %></td>
                <td v-for="package in packages">{{ package.actual_price.display_value }}</td>
              </tr>
              <tr>
                <td><%= t('compare.features') %> <%= compare_tooltip(t('compare.tooltips.features')) %></td>
                <td v-for="package in packages">
                  <p v-for="feature in package.features">{{ feature.name }}</p>
                </td>
              </tr>
              <tr>
                <td><%= t('compare.coverage') %> <%= compare_tooltip(t('compare.tooltips.coverage')) %></td>
                <td v-for="package in packages">
                  <p v-for="coverageHandler in package.coverage_handlers">{{ coverageHandler.name }}<br />{{ coverageHandler.display_value }}</p>
                </td>
              </tr>

              <!-- Total -->
              <tr style="background-color: #1477c0; color: white;">
                <td><%= t('compare.total') %> <%= compare_tooltip(t('compare.tooltips.total')) %></td>
                <td v-for="package in packages">
                  <span class="label label-danger" style="text-decoration: line-through;">{{ package.actual_price.display_value }}</span>
                  {{ package.final_price.display_value }}
                </td>
              </tr>

              <!-- Inquiry -->
              <tr>
                <td></td>
                <td v-for="package in packages">
                  <a :href="link(package)" class="btn btn-primary btn-block">เลือกแพ็คเกจนี้</a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @click="close()">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>
