<script type="text/x-template" id="package-item">
  <div class="panel panel-default package" :class="panelClass">
    <table class="table">
      <tbody>
        <tr class="selectable" @click="toggleSelected()">
          <td class="company package-detail mobile"><img :src="package.company.logo" /></td>
          <td class="sum package-detail mobile">{{ package.sum_insured.display_value }}</td>
          <td class="price package-detail mobile">
            <div class="price-holder">
              <div class="original-price text-danger">{{ package.actual_price.display_value }}</div>
              <div class="discounted-price">{{ package.final_price.display_value }}</div>
            </div>
          </td>
        </tr>

        <tr v-if="expanded">
          <td colspan="7" class="details">
            <p class="heading">รายละเอียดเพิ่มเติม</p>
            <div class="row additional-details">
              <div class="col-sm-10 col-sm-offset-1">
                <table class="table">
                  <tbody>
                    <tr>
                      <td><%= t('calculator.results.insurance_class') %></td>
                      <td class="text-right"><img :src="package.service.icon" class="service-icon" /></td>
                    </tr>
                    <tr>
                      <td><%= t('calculator.results.repair_site') %></td>
                      <td class="text-right">{{ package.repair }}</td>
                    </tr>
                    <tr>
                      <td><%= t('calculator.results.first_payment') %></td>
                      <td class="text-right">{{ package.excess_payment.display_value }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <p class="heading">จุดเด่น</p>
            <div class="row features">
              <div v-for="feature in features" class="col-sm-3 col-xs-6 text-center feature-container">
                <img :src="feature.icon" class="img-circle feature-icon" :class="featureClass(feature)">
                <p>{{ feature.name }}</p>
              </div>
            </div>

            <template v-if="package.coverage_handlers.length > 0">
              <p class="heading">ความคุ้มครอง</p>
              <div class="row coverages">
                <div class="col-sm-10 col-sm-offset-1">
                  <table class="table">
                    <tbody>
                      <tr v-for="coverage in package.coverage_handlers">
                        <td class="coverage-name">{{ coverage.name }}</td>
                        <td class="text-right">{{ coverage.display_value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </template>

            <template v-if="!_.isEmpty(package.description)">
              <p class="heading">คำอธิบาย</p>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  {{ package.description }}
                </div>
              </div>
            </template>
          </td>
        </tr>

        <tr>
          <td colspan="7" class="text-center">
            <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-sm btn-default btn-details btn-block" @click="expanded = !expanded">{{ expandBtnText }}</button>
              </div>
              <div class="col-xs-6">
                <a :href="link" class="btn btn-sm btn-default btn-block">เลือกแพ็คเกจนี้</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</script>
