<script type="text/x-template" id="package-item">
  <div class="panel panel-default package">
    <table class="table">
      <tbody>
        <tr class="selectable" @click="toggleSelected()">
          <td class="package-detail">
            <input type="checkbox" class="select_box" :checked="selected" />
          </td>
          <td class="company package-detail"><img :src="package.company.logo" /></td>
          <td class="insurance-class package-detail"><img :src="package.service.icon" class="service-icon" /></td>
          <td class="repair-site package-detail">{{ package.repair }}</td>
          <td class="sum package-detail">{{ package.sum_insured.display_value }}</td>
          <td class="first-payment package-detail">{{ package.excess_payment.display_value }}</td>
          <td class="price package-detail">
            <div class="price-holder">
              <div class="original-price text-danger">{{ package.actual_price.display_value }}</div>
              <div class="discounted-price">{{ package.final_price.display_value }}</div>
            </div>
          </td>
          <td class="package-detail">
            <a :href="link" class="btn btn-sm btn-default btn-block">เลือกแพ็คเกจนี้</a>
          </td>
        </tr>

        <tr v-if="expanded">
          <td colspan="8" class="details">
            <p class="heading">จุดเด่น</p>
            <div class="row features">
              <div v-for="feature in features" class="col-sm-3 col-xs-6 text-center">
                <img :src="feature.icon" class="img-circle feature-icon" :class="featureClass(feature)">
                <p>{{ feature.name }}</p>
              </div>
            </div>

            <template v-if="package.coverage_handlers.length > 0">
              <p class="heading">ความคุ้มครอง</p>
              <div class="row coverages">
                <div class="col-sm-10 col-sm-offset-1">
                  <div class="row">
                    <template v-if="package.coverage_handlers.length > 0">
                      <div class="col-sm-6 col-xs-12 column">
                        <table class="table">
                          <tbody>
                            <tr v-for="coverage in package.coverage_handlers.slice(0, Math.floor(package.coverage_handlers.length / 2))">
                              <td class="coverage-name">{{ coverage.name }}</td>
                              <td class="text-right">{{ coverage.display_value }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="col-sm-6 col-xs-12 column">
                        <table class="table">
                          <tbody>
                            <tr v-for="coverage in package.coverage_handlers.slice(Math.floor(package.coverage_handlers.length / 2))">
                              <td class="coverage-name">{{ coverage.name }}</td>
                              <td class="text-right">{{ coverage.display_value }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </template>
                 </div>
                </div>
              </div>
            </template>

            <template v-if="!_.isEmpty(package.description)">
              <p class="heading">คำอธิบาย</p>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  {{ package.description }}
                </div>
              </div>
            </template>
          </td>
        </tr>

        <tr>
          <td colspan="8" class="text-center">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3">
                <button class="btn btn-sm btn-default btn-details btn-block" @click="expanded = !expanded">{{ expandBtnText }}</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</script>
