<tr>
  <td class="content" colspan="2">
    <p class="subject">
      <%= @contact.subject %>
    </p>
    <hr />

    <%= simple_format @contact.message %>

    <table class="contact-details">
      <tr>
        <td><i class="fa fa-fw fa-phone"></i> <%= @contact.phone_number %></td>
      </tr>
      <tr>
        <td><i class="fa fa-fw fa-envelope"></i> <%= @contact.email %></td>
      </tr>
    </table>
  </td>
</tr>
