<h2><%= t('change_password.title') %> </h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: t('change_password.new_password'), required: true, autofocus: true, hint: I18n.t('change_password.minimum_password_hint', minimum_password_length: @minimum_password_length) if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: t('change_password.confirm_password'), required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('change_password.submit') %>
  </div>
<% end %>

<%= render "users/shared/links" %>
