<div class="container admin-container">
	<h2 class="text-center"><%= t('log_in.forgot_password')%></h2>

	<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, required: true, autofocus: true %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, t('log_in.send_password_instructions'), class: "btn btn-primary submit-button" %>
			<%= render "users/shared/links" %>
	  </div>
	<% end %>
</div>
