// Place all the styles related to the about_us controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-us-index {
  .row.section {
    margin: 5px 0 20px 0;
  }

  h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
  }
}

// Mobile
@media (max-width: 769px){
  .about_us-index {
    .row.section {
      margin: 5px 0 5px 0;
    }

    .awards-recognition-banner {
      margin-bottom: 30px;
    }

    .awards-img {
      margin-bottom: 25px;
    }

    .logos {
      width: 90%;
    }
  }
}
