// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'active_admin/base';
@import 'selectize';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body {
  font-size: 14px;
}

.attributes_table {
  table {
    th {
      width: 200px;
    }
  }
}

.selectize-control {
  width: 80%;
  margin-left: 20%;
}

form fieldset > ol > li.check_boxes fieldset ol li label input,
form fieldset > ol > li.radio fieldset ol li label input {
  margin-right: 1em;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}
