/* ============  External Libraries CSS  ============ */

// Bootstrap
@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';

// Font Awesome
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Selectize
@import 'selectize';
@import 'selectize.bootstrap3';

// Owl Carousel
@import 'owl.carousel.min';
@import 'owl.theme.default.min';

/* ============  CSS For Individual Page  ============ */

// Controller-Action CSS
@import 'main';
@import 'contacts';
@import 'about_us';
@import 'service_categories';
@import 'summary';

// Devise View
@import 'devise';

/* =============  Common CSS  ============== */

// Companies Logo
@import 'partners';

// Header, Navbar and Footer
@import 'header';
@import 'navbar';
@import 'footer';

@font-face {
  font-family: 'CSChatThaiUI';
  src: asset-url('CSChatThaiUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  max-width: 100%;
  font-family: 'CSChatThaiUI', sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

.carousel-indicators {
  bottom: 0;

  @media (max-width: 500px) {
    display: none;
  }

  li {
    background-color: #ccc;

    &.active {
      background-color: #666;
    }
  }
}

.outer-container {
  position: relative;
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 15px #afafaf;
}

.margin-for-footer {
  margin-bottom: 140px;
  padding: 20px 0 40px 0;
}

.vertical-align-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1 {
  margin-bottom: 30px !important;
}

.banner {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 1020px;
  max-width: 100%;
  max-height: 300px;
  margin: 10px auto;
}

.thumbnail {
  img {
    border-radius: 2px;
  }
}

.form-actions {
  #links {
    .btn-link {
      color: #1164a2; //links in login form

      &:hover {
        color: #ff970b;
        text-decoration: none;
      }
    }
  }
}

#inquiry-modal {
  height: 400px;
  top: calc(50% - 200px) !important;

  .validation {
    font-size: 12px;
  }
}

hr {
  &.mb-25 {
    margin-bottom: 25px;
  }

  &.mb-30 {
    margin-bottom: 30px;
  }
}

.no-padding {
  padding: 0px;
}

// Mobile Responsiveness
@media (max-width: 991px) {
  .banner {
    margin: 0 auto;
  }

  .top-banner {
    padding: 0;
  }

  .margin-for-footer {
    margin-bottom: 255px;
    padding: 0;
  }

  .content-container {
    padding: 0 0 30px 0;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 15px;
  }
}
