.service-categories-calculator,
.service-categories-results,
.service-categories-summary {
  .calculator, .results, .summary {
    &.panel {
      border: none;
    }

    .panel-heading {
      background-color: #0f5a92;
      color: white;
      border: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .panel-body {
      padding: 20px;
      background-color: #1477c0;
      color: white;
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    #form {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .service-categories-results {
    .content-container.container-fluid > .row > .col-md-12 {
      padding: 0px;
    }

    .results {
      .panel-heading {
        border-radius: 0px;
      }

      .panel-body {
        border-radius: 0px;
      }
    }
  }
}
