// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contacts-index {
  .contact-details {
    margin-bottom: 20px;
  }

  .row.section {
    margin: 5px 0 15px 0;
  }

  .contact-social-logo {
    // margin-top: 10px;
    margin-right: 4px;
    height: 25px;
    width: 25px;
    margin-top: -7px;
    &:hover {
      transform: translate(0,-5px);
      transition: 150ms ease-in-out;
    }
  }

  .contact-sidebar {
    a {
      text-decoration: none;
    }
  }

  dt {
    margin-top: 20px;
  }

  textarea.contact {
    resize: vertical;
  }

  .map-container {
    border-radius: 10px;
    width: 350px;
    float: right;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  .contacts-index {
    iframe {
      width: 100%;
    }

    .map-container {
      width: 100%;
      float: none;
      clear: both;
      margin-right: 0;
    }
  }
}

// Mobile
@media (max-width: 769px) {
  .contacts-index {
    .row.section {
      margin: 5px 0 5px 0;
    }
  }
}
