//Sign In Page
// *****************************
.admin-container {
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
// *****************************

// Mobile Size
@media (max-width: 768px) {
  // Sign In Page
  .admin-container {
    width: 100%;
    
    #links {
      margin-top: 15px;
    }
    
    .submit-button {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
}