.footer {
  position: absolute;
  width: 100%;
  top: 100%;
  height: 140px;
  margin-top: -140px;
  color: $footer-color;
  text-shadow: 0 0 2px #777;

  .footer-content {
    height: 150px;
    background-color: $footer-bg;
    width: 100%;
    margin: 0 auto;

    .footer-social {
      margin-bottom: 5px;
    }

    .footer-social-logo {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border-radius: 5px;

      &:hover {
        transform: translate(0,-5px);
        transition: 150ms ease-in-out;
      }
    }
  }

  p {
    text-align: center;
    margin: 0px;
  }

  a {
    color: $footer-link-color;

    &:hover {
      text-decoration: none;
      color: $footer-link-hover-color;
    }

    &:active {
      text-decoration: none;
      text-shadow: none;
      color: $footer-link-active-color;
    }
  }

  .copyright {
    background-color: $footer-active-bg;
    height: 40px;
    width: 100%;
    margin: 0 auto;
  }

  .info {
    height: 100%;
  }
}

// Mobile Responsiveness
@media (max-width: 991px) {
  .footer {
    height: 315px;
    margin-top: -255px;
    font-size: 14px;

    > div {
      padding: 0;
    }

    p {
      text-align: center;
    }

    .footer-content {
      height: 275px;
      padding-top: 15px;
      padding-bottom: 15px;

      .info:nth-child(1) {
        height: 40%;
      }

      .info:nth-child(2) {
        height: 30%;
      }

      .info:nth-child(3) {
        height: 30%;
      }
    }
  }
}
