.header {
  a {
    text-decoration: none;
  }

  .phone-span {
    margin-right: 20px;
  }

  .cp-logo {
    width: 180px;
    height: 120px;
    margin-left: 15px;
  }

  .social-logo {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;

    &:hover {
      transform: translate(0,-5px);
      transition: 150ms ease-in-out;
    }
  }

  .phone-number {
    font-size: 24px;
  }

  .contact-box {
    font-size: 16px;
  }
}

// Mobile Size
@media (max-width: 769px) {
  .header {
    .container-fluid {
      padding: 0;
    }

    .cp-logo {
      margin-top: 15px;
      width: 140px;
      height: 90px;
      margin-left: 0px;
    }

    .phone-span {
      margin-right: 0px;
      display: block;
    }

    .phone-number {
      font-size: 22px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    .cp-logo {
      margin-top: 30px;
      width: 130px;
      height: 80px;
      margin-left: -10px;
    }
  }

  .contact-box {
    font-size: 14px;
  }
}
