@import "font-awesome-sprockets";
@import "font-awesome";

$primary-color: #f0f8ff;
$hover-color: #75b3e9;
$primary-bg-color: #227aab;

@font-face {
  font-family: 'CSChatThaiUI';
  src: asset-url('CSChatThaiUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

table.container {
  width: 600px;
  margin: 0 auto;
  border: 1px solid $primary-bg-color;
  border-radius: 5px;
  font-family: 'CSChatThaiUI', sans-serif;

  a {
    color: $primary-bg-color;
    text-decoration: none;

    &:hover {
      color: $hover-color;
    }
  }

  td.logo {
    padding: 15px;

    img {
      height: 50px;
    }
  }

  td.timestamp {
    padding: 15px;
    font-weight: bold;
    text-align: right;
  }

  td.title {
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    color: $primary-color;
    background-color: $primary-bg-color;
  }

  td.content {
    padding: 45px 15px;

    hr {
      border-bottom: none;
      border-color: $primary-bg-color;
    }

    .subject {
      font-weight: bold;
    }

    .contact-details {
      width: 100%;
      margin-top: 30px;
    }
  }

  td.footer {
    padding: 15px;
    color: $primary-color;
    background-color: $primary-bg-color;
    font-size: 0.8em;

    a {
      color: inherit;

      &:hover {
        color: $hover-color;
      }
    }

    &.right {
      text-align: right;
    }
  }
}
