// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-index {
  $carousel-control-opacity: 0;

  .carousel-control {
    &.left,
    &.right {
      background-image: none;
    }

    .fa {
      position: absolute;
      top: 50%;
      margin-top: -5px;
    }
  }

  .slogan {
    margin-top: 20px;

    i {
      color: rgb(248, 226, 0);
    }
    p {
      // background-color: #1477c0;
      // background-color: rgb(160, 125, 73);
      background-color: rgb(112, 112, 112);
      padding: 25px;
      color: #fff;
      font-size: 34px;
    }
  }

  a.service-category {
    color: #000;

    &:hover {
      color: #ff970b;
      text-decoration: none;
    }
  }

  .service-category-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }

  .row.section {
    margin-bottom: 20px;

    &.credibility {
      // background-color: #eee;
      padding-bottom: 20px;
    }

    &.awards {
      // background-color: #eee;
      padding-bottom: 20px;
    }

    .services {
      margin: 20px 0 40px 0;
    }

    .why {
      margin: 40px 0;
    }
  }

  .credibility-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .awards-image {
    width: 100%;
    // height: 300px;
  }

  img {
    width: 100%;
  }

  .row.section.jumbotron {
    background: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 1200px) {
    .slogan {
      p {
        font-size: 28px;
      }
    }
  }

  @media (max-width: 991px) {
    .carousel {
      margin: 0 -30px;
    }

    .slogan {
      p {
        font-size: 24px;
      }
    }

    .row.section.jumbotron {
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
    }
  }

  // Mobile Responsiveness
  @media (max-width: 769px) {
    .banner {
      width: 100%;
      padding: 0px;
    }

    .slogan {
      p {
        font-size: 20px;
      }
    }
  }
}
