.navbar.navbar-default {
  z-index: 1020;
  box-shadow: 0 2px 2px -2px #333;
  border: none;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px;
  
  .container-fluid {
    padding-right: 0px;
  }

  .navbar-toggle {
    border-color: #fff;

    .icon-bar {
      background-color: #fff;
    }

    &:hover, &:focus {
      background-color: #0f5a92;
    }
  }

  .navbar-brand {
    &.active {
      background-color: $navbar-default-link-active-bg;
    }

    &:hover {
      color: $navbar-default-link-hover-color;
      background-color: $navbar-default-link-hover-bg;
    }
  }
}

// Mobile Responsiveness
@media (max-width: 991px) {
  #sticky-wrapper {
    margin: 0 -15px;
  }

  .navbar.navbar-default {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    
    .container-fluid {
      padding-right: 15px;
    }
  }

  .navbar-home {
    display: inline-block !important;
  }
}
