.logos-container {
  width: 100%;
  margin: 0 auto;

  .logo {
    min-width: 90px;
    min-height: 80px;
  }

  .tooltip-inner {
    max-width: 250px;
    padding: 4px 8px;
    font-size: 13px;
  }
}

// @media screen and (max-width: 768px) {
//   .logos-container {
//     width: 90%;
//   }
// }
