.results {
  border: none;

  .panel {
    color: #333;
  }

  .panel-heading, .panel-body {
    color: white;
    border: none;
  }

  .panel-heading {
    background-color: #0f5a92;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .panel-body {
    padding: 20px;
    background-color: #1477c0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .car-details td {
    text-align: center;
    vertical-align: middle;
  }

  .service-buttons {
    margin-bottom: 15px;
  }

  .table-header {
    border-top: 1px solid #ddd;
    margin-bottom: 15px;

    .table {
      margin-bottom: 0;

      th {
        vertical-align: middle;
        text-align: center;
        width: calc(100% / 8);
        height: 51px;
        color: white;
        cursor: pointer;

        &.mobile {
          width: 33%;
        }

        &:hover {
          color: #ff970b;
        }
      }
    }
  }

  .packages {
    .package {
      &:last-child {
        margin-bottom: 0;
      }

      &.selected {
        border-color: darken($brand-primary, 10%);
        color: white;

        td {
          background-color: $brand-primary;
          border-color: darken($brand-primary, 10%);
        }
      }

      tr.selectable {
        cursor: pointer;
      }

      p {
        margin: 0;
      }

      td {
        &.package-detail {
          vertical-align: middle;
          text-align: center;
          width: calc(100% / 8);

          &.mobile {
            width: 33%;
          }

          .original-price {
            font-size: 75%;
            text-decoration: line-through;
            line-height: 1em;
          }

          img {
            width: 50px;
            height: 50px;
          }
        }

        &.details {
          padding: 0;

          &.collapsed {
            border-top: none;
          }

          > div {
            padding: 15px;
          }

          .heading {
            text-align: center;
            padding: 5px 0;
            background-color: #ff970b;
            color: #fff;
          }

          table {
            margin: 0;
          }

          .features {
            .feature-container:nth-last-child(n+3) {
              padding-bottom: 15px;
            }

            .feature-icon {
              filter: grayscale(100%);
              opacity: 0.7;
              width: 60px;
              height: 60px;

              &.selected {
                filter: none;
                opacity: 1;
              }
            }
          }

          .additional-details {
            tr:first-child {
              td {
                border-top: none;
              }
            }

            td {
              vertical-align: middle;

              .service-icon {
                width: 50px;
                height: 50px;
              }
            }
          }

          .coverages {
            tr:first-child {
              td {
                border-top: none;
              }
            }
          }
        }
      }
    }
  }

  .compare-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    background-color: $brand-primary;
    color: white;
    padding: 15px;
    cursor: pointer;

    &:active {
      background-color: darken($brand-primary, 10%);
    }
  }
}

//   // Compare Modal
//   .compare-modal {
//     z-index: 9999;
//     .modal-content {
//       color: black;
//     }
//
//     .compare-tooltip {
//       color: #ff970b;
//     }
//
//     .insurance-header-two {
//       width: 50%;
//     }
//
//     .insurance-header-three {
//       width: 33%;
//     }
//     //left align the first column
//     .features td:first-child {
//       text-align: left;
//       min-width: 180px;
//     }
//   }
// }
