// Place all the styles related to the service_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "calculator";
@import "results";

.service-categories-show {
  .car-tax {
    margin-top: 20px;

    thead {
      //heading row
      tr {
        background-color: #ff970b;
        color: white;
      }
    }

    th {
      text-align: center;
    }

    tr {
      text-align: center;
    }

    .footnote {
      color: red;
      margin-top: -10px;
      margin-bottom: 15px;
    }
  }

  h1 {
    margin-bottom: 20px;
  }

  .caption {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .insurance-info {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 250px;
    vertical-align: middle;

    &:last-child {
      margin-bottom: 80px;
    }
  }

  #divider-between-logos-and-insurances {
    margin-top: 80px;
  }
}
