@import "bootstrap/variables";

@media screen and (max-width: $screen-sm-min) {
  .dl-horizontal.centered {
    dt {
      width: 50%;
      padding-right: 5px;
    }

    dd {
      width: 50%;
      margin-left: 50%;
      padding-left: 5px;
    }
  }
}

@media screen and (min-width: $screen-sm-max) {
  .text-center.on-small {
    text-align: left;
  }
}
