$navbar-height: 40px;
$navbar-default-color: #f9f9f9;
$navbar-default-bg: #1477c0;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-active-bg: #075b9c;
$navbar-default-link-hover-bg: $navbar-default-link-active-bg;

$grid-float-breakpoint: 992px;
$dl-horizontal-breakpoint: 0;

$footer-bg: $navbar-default-bg;
$footer-color: $navbar-default-color;
$footer-active-bg: $navbar-default-link-active-bg;
$footer-link-color: $navbar-default-link-color;
$footer-link-hover-color: #FF970B;
$footer-link-active-color: $navbar-default-link-active-color;

$brand-primary: #ff970b;
$brand-success: #08c775;
$brand-info: #3889c7;
$brand-warning: #f2b500;

$container-sm: 100%;

$tooltip-color: #fff;
$tooltip-opacity: 1;
$tooltip-max-width: 350px;
