<footer class="footer row">
  <div class="col-xs-12" style="padding: 0px;">
    <div class="row footer-content">
      <div class="col-md-4 info">
        <div class="vertical-align-middle">
          <p class="footer-social">
            <%= link_to ENV['FACEBOOK_LINK'], target: '_blank' do %>
              <%= image_tag "facebook.png", class: "footer-social-logo" %>
            <% end %>
            <%= link_to ENV['LINE_LINK'], target: '_blank' do %>
              <%= image_tag "line.png", class: "footer-social-logo" %>
            <% end %>
          </p>
          <p>
            <i class="fa fa-phone"></i> <a href="tel:<%= ENV['PHONE_NUMBER'] %>"><%= ENV['PHONE_NUMBER'] %></a>
            <br>
            <i class="fa fa-fax"></i> <%= ENV['FAX_NUMBER_1'] %>, <%= ENV['FAX_NUMBER_2'] %>
          </p>
          <p>
            <i class="fa fa-envelope"></i> <a href="mailto:<%= ENV['EMAIL_ADDRESS'] %>"><%= ENV['EMAIL_ADDRESS'] %></a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 info">
        <div class="vertical-align-middle">
          <p>
            <i class="fa fa-home"></i>
            <span>บริษัท ซี พี อินเตอร์ โบรคเกอร์ จำกัด<br> เลขที่ 36/1 (ข้างขนส่งบางปู) ถ.สุขุมวิท ต.บางปูใหม่ อ.เมือง จังหวัดสมุทรปราการ  รหัสไปรษณีย์ 10280</span>
          </p>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-1 col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5 info">
        <div class="vertical-align-middle">
          <div class="thumbnail">
            <%= image_tag 'license.png' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-xs-12 info">
        <div class="vertical-align-middle">
          <p>
            CP Interbroker <i class="fa fa-copyright"></i> 2016 - Powered By <%= link_to 'Cognitive Creations', 'http://cognitivecreations.co', target: '_blank' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
