<div class="header row" style="margin: 10px -15px 8px -15px;">
  <div class="col-md-3 col-xs-4">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', class: 'cp-logo' %>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3 col-xs-8">
    <table align="right" style="width: 100%; height: 80px;">
      <tbody>
        <tr>
          <td style="text-align: right; vertical-align: middle; padding: 5px; border-radius: 10px; padding-right: 0px;" class="">
            <div class="container-fluid">
              <!-- Social Stuff -->
              <div class="row" style="margin-top: 5px;">
                <div class="col-xs-12">
                  <%= link_to ENV['FACEBOOK_LINK'], target: '_blank' do %>
                    <%= image_tag "facebook.png", class: "social-logo" %>
                  <% end %>
                  <%= link_to ENV['LINE_LINK'], target: '_blank' do %>
                    <%= image_tag "line.png", class: "social-logo" %>
                  <% end %>
                </div>
              </div>
              <div class="row phone-number">
                <div class="col-xs-12">
                  <span>
                    <%= icon('phone', class: 'fa-1x') %> <a href="tel:<%= ENV['PHONE_NUMBER'] %>"><%= ENV['PHONE_NUMBER'] %></a>
                  </span>
                </div>
              </div>
              <div class="row contact-box">
                <div class="col-sm-12">
                  <span>
                    <%= t('header.opening_weekdays')%> 9.00 - 18.00<br>
                    <%= t('header.opening_weekends')%> 9.00 - 15.00
                  </span>
                </div>
              </div>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
