<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand <%= 'active' if params[:controller] == "main" %>" href="/" data-toggle="tooltip" title="<%= t('navbar.home') %>" data-placement="bottom"><%= icon('home') %> <span class="visible-xs visible-sm navbar-home"><%= t('navbar.home') %></span></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <%= content_tag :li, class: ['calculator', 'results', 'summary'].include?(params[:action]) ? 'active' : nil do %>
          <%= link_to t('navbar.insurance_calculator'), calculator_service_category_path(@navbar[:insurance]) %>
        <% end %>

        <% @navbar.each do |key, value| %>
          <%= content_tag :li, class: params[:action] == 'show' && params[:id] == value.identifier ? 'active' : nil do %>
            <%= link_to value.name, service_category_path(value) %>
          <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li <%= 'class=active' if params[:controller] == 'about_us' %>><%= link_to t('navbar.about_us'), about_us_path %></li>
        <li <%= 'class=active' if params[:controller] == 'contacts' %>><%= link_to t('navbar.contact_us'), contacts_path %></li>

        <% if user_signed_in? %>
          <li class="dropdown <%= 'active' if params[:controller].match(/^devise/) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('navbar.sign_out'), destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li <%= "class=active" if params[:controller].match(/^devise/) %> >
            <%= link_to t('navbar.sign_in'), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
