<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="jyP9gd4pme9pP51JXsIf3YVKxM1x2rnZv2w_xpcRUIQ" />

    <title><%= @title.present? ? @title : 'CP Interbroker' %></title>
    <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag 'application', "data-turbolinks-track": "reload" %>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
      <%= render 'shared/google_tag_manager' unless ENV['GTM_CONTAINER_ID'].nil? %>
    <% end %>
  </head>

  <body class='<%= "#{params[:controller].dasherize}-#{params[:action].dasherize}" %>'>
    <% if Rails.env.production? %>
      <%= render 'shared/google_tag_manager_no_script' unless ENV['GTM_CONTAINER_ID'].nil? %>
    <% end %>

    <%= Gon::Base.render_data %>

    <div class="container outer-container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/navbar' %>

      <div class="row">
        <div class="col-xs-12">
          <div class="margin-for-footer">
            <div class="content-container container-fluid">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <%= render 'layouts/footer' %>
      <%= render 'shared/inquiry' %>
    </div>
  </body>
</html>
