<html>
  <head>
    <%= stylesheet_link_tag 'mailer' %>
  </head>

  <body>
    <table class="container" cellspacing="0">
      <tr>
        <td class="logo">
          <%= email_image_tag 'logo.png' %>
        </td>

        <td class="timestamp">
          <%= DateTime.now.to_s(:timestamp) %>
        </td>
      </tr>

      <tr>
        <td class="title" colspan="2">
          <%= @title %>
        </td>
      </tr>

      <%= yield %>

      <tr>
        <td class="footer">
          <%= link_to 'CP Interbroker', ENV['CP_SITE_ADDRESS'] %> &copy; 2016
        </td>

        <td class="footer right">
          Powered by <%= link_to 'Cognitive Creations', ENV['CC_SITE_ADDRESS'] %>
        </td>
      </tr>
    </table>
  </body>
</html>
