<tr>
  <td class="content" colspan="2">
    <p>สวัสดี <%= @resource.email %>!</p>

    <p>มีคนขอเปลี่ยนรหัสผ่านของคุณ คุณสามารถเปลี่ยนรหัสผ่านของคุณที่ลิ้งด้านล่าง</p>

    <p><%= link_to 'เปลี่ยนรหัสผ่าน', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>ถ้าคุณไม่ได้ขอเปลี่ยนรหัสผ่าน คุณไม่ต้องทำอะไร</p>
    <p>รหัสผ่านคุณจะไม่เปลี่ยนหากไม่ได้กดลิ้งด้านบนแล้วกรอกรหัสผ่านใหม่</p>
  </td>
</tr>
