<div class="container admin-container">
	<h2 class="text-center"><%= t('log_in.sign_up')%></h2>

	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, required: true, autofocus: true %>
	    <%= f.input :password, required: true, hint: I18n.t('simple_form.hints.defaults.password', number: @minimum_password_length) %>
	    <%= f.input :password_confirmation, required: true %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, t('devise.registrations.new.sign_up'), class: "btn btn-primary submit-button" %>
			<%= render "users/shared/links" %>
	  </div>
	<% end %>

</div>
